<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">




    </head>

    <body>

<!--    Header file-->
    <header>
        <h1 align="center">Rent Prediction System</h1>
        <hr>
        <br>
    </header>

<!--    Navigation bar-->
    <div>
        <nav>
        <a href="https://public.tableau.com/app/profile/sanket.vaidya4437/viz/HouseRentPredictionProject/PropertyCitywiseprices?publish=yes">Result Visualization</a>
    </nav>
    </div>

<!--    Form element-->
    <div class="container">
        <form method="POST"
              action="/classify">

            <div class="row">

                <div class="col">
                    <div>
                        <label>Seller Type?:</label>
                        <select name="seller_type" class="form-control">
                            <option value="0">OWNER</option>
                            <option value="1">AGENT</option>
                            <option value="2">BUILDER</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                     <div>
                        <label>Bedroom:</label>
                        <select name="Bedroom" class="form-control">
                            <option value="0">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                            <option value="4">5</option>
                            <option value="5">6</option>
                            <option value="6">7</option>
                            <option value="7">8</option>
                            <option value="8">9</option>
                            <option value="9">10</option>
                            <option value="10">11</option>
                            <option value="11">12</option>
                            <option value="12">14</option>
                            <option value="13">15</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div>
                        <label>Layout Type:</label>
                        <select name="male" class="form-control">
                            <option value="1">BHK</option>
                            <option value="0">RK</option>
                        </select>
                    </div>
            </div>

            <div class="row">
                <div class="col">
                    <div>
                        <label>Property Type:</label>
                        <select name="male" class="form-control">
                            <option value="0">Apartment</option>
                            <option value="1">Independent Floor</option>
                            <option value="1">Independent House</option>
                            <option value="1">Penthouse</option>
                            <option value="1">Studio Apartment</option>
                            <option value="1">Villa</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div>
                        <label>Locality:</label>
                        <select name="male" class="form-control">
                            <option value="1">Bodakdev</option>
                            <option value="0">CG Road</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div>
                        <label>Furnish Type:</label>
                        <select name="male" class="form-control">
                            <option value="1">Semi-Furnished</option>
                            <option value="0">Furnished </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div>
                        <label>Bathroom:</label>
                        <select name="male" class="form-control">
                            <option value="1">1</option>
                            <option value="0">2 </option>
                        </select>
                    </div>
                </div>


                <div class="col">
                    <div>
                        <label>City:</label>
                        <select name="male" class="form-control">
                            <option value="1">Pune</option>
                            <option value="0">2 </option>
                        </select>
                    </div>
                </div>
            </div>


            <button class="btn btn-success">Predict</button>
            </div>
        </form>

<!--        footer -->
        <footer>
            <h4>This project belongs to Sunbeam Technologies</h4>
        </footer>

    </div>
    </body>
</html>